# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# Linter configuration file
.golangci.yml

# Example config files
tokka.json
tokka.yaml
local.tokka.yaml
compose.yaml

# Built middlewares and plugins
build/middlewares
build/plugins

# Local k8s configuration files
build/k8s
.local

!build/Dockerfile
!build/dashboard/Dockerfile
!dashboard

# JetBrains IDEs
.idea

**/node_modules
**/dist
.git
