name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  GO_VERSION: 1.24.2
  GOLANGCI_LINT_VERSION: v2.1

jobs:
  checks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Test
        run: go test -v ./...

  docker:
    runs-on: ubuntu-22.04
    needs: checks
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: build/Dockerfile
          platforms: linux/amd64
          github-token: ${{ github.token }}
