# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  GO_VERSION: 1.24.2
  GOLANGCI_LINT_VERSION: v2.1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          go-version: ${{ env.GO_VERSION }}
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Test
        run: go test -v ./...

      - name: Docker
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: build/Dockerfile
          platforms: linux/amd64
          github-token: ${{ github.token }}
